<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{site.title}} - {{page.title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <script type="text/javascript" src="/assets/js/modernizr.min.js"></script>
        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TDKH3M');</script>
        <!-- End Google Tag Manager -->
    </head>

    <body>

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDKH3M"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div class="pagewrapper">{% include header.html %}
            <div class="content">{{content}}</div>
        </div>{% include footer.html %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/webflow.min.js"></script>
        <!--[if lte IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
        <![endif]-->
    </body>

</html>
